.item_box{
    display:inline-block;
        padding:16px;
        margin:16px;
        color: white;        
        text-align:center;
        height: 60px;
        border-radius: 10px;
        background-color:  #4CAF50;
}